body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
/***************** First Div ***************/
header {
  background-color: #1f2937;
  padding: 10px auto 50px;
}

a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

nav {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

/* margin-right auto allows the first nav element to stick to the left side */
span {
  font-size: 24px;
  color: #f9faf8;
  margin-right: auto;
  margin-left: 15%;
  font-weight: bold;
}

.main {
  display: flex;
}

.cover {
  margin-left: 15%;
  margin-top: 5%;
}

.hero {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  width: 70%;
}

.final {
  margin-right: 15%;
}

.info {
  color: #f9faf8;
  font-size: 18px;
  width: 80%;
}

.mainimg {
  margin: 5% 15% 5% 0;
  height: 400px;
}

.sign-up {
  font-weight: bold;
  color: #e5e7eb;
  background-color: #3882f6;
  padding: 5px 30px;
  border-radius: 8px;
  border: none;
}

/*********** Second div  ****************/
.second {
  font-size: 18px;
  color: #1f2937;
}

.info-header {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
}

.images {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.fish,
.fish-img {
  width: 200px;
}

/**************** Third div *********************/

.third {
  background-color: #e5e7eb;
  padding: 20px;
  justify-content: center;
  display: flex;
}

/* quote-div makes things simpler for centering the content and aligning the credit on right side */
.quote-div {
  width: 50%;
}

.quote {
  margin: 40px auto 10px auto;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.credit {
  text-align: right;
  font-weight: 900;
  font-size: 25px;
  margin-top: 0;
}

/************************************** fourth div ********************************/

.fourth {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  margin: 100px 200px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  gap: 300px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  color: #e5e7eb;
  background-color: #3882f6;
  padding: 5px 30px;
  border-radius: 8px;
  border: 3px;
  border-color: white;
  border-style: solid;
}

.fourth p {
  margin-top: 0;
  margin-bottom: 40px;
}
.fourth h2 {
  margin-bottom: 0;
  margin-top: 40px;
}

/*************************** footer *********************/
